.top-bar {
  width: 100%;
  padding: 10px;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  // position: absolute;
  position: relative;
  z-index: 1000;
  top: 0;
}
.top-bar .logo-col {
  display: flex;
  flex: 0 0 150px;
  margin-left: auto;
}
.top-bar .logo-col .logo {
  width: 100%;
  height: 45px;
  display: inline-block;
}
.top-bar .title-col {
  flex: 0 0 55%;
  display: flex;
  justify-content: center;
}
.top-bar .title-col .title {
  color: #3c4354;
  font-size: 16px;
  display: inline-block;
  transform: translateY(3px);
}
.top-bar .devices-col {
  display: flex;
  flex: 0 0 10%;

  flex-direction: row-reverse;
}
.top-bar .devices-col .devices {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.top-bar .devices-col .devices .icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s all;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.top-bar .devices-col .devices:hover {
  width: 120px;
}

.top-bar .devices-col .devices .icon.mobile {
  background-image: url("../img/mobile.svg");
}
.top-bar .devices-col .devices .icon.laptop {
  background-image: url("../img/laptop.svg");
}
.top-bar .devices-col .devices .icon.tablet {
  background-image: url("../img/tablet.svg");
}
.top-bar .devices-col .devices .icon.desktop {
  background-image: url("../img/desktop.svg");
}
.top-bar .devices-col .devices .icon.mobile,
.top-bar .devices-col .devices .icon.laptop,
.top-bar .devices-col .devices .icon.tablet {
  display: none;
}
.top-bar .devices-col .devices:hover .icon.mobile {
  display: inherit;
}
.top-bar .devices-col .devices:hover .icon.icon.laptop {
  display: inherit;
}
.top-bar .devices-col .devices:hover .icon.icon.tablet {
  display: inherit;
}

.close-col {
  display: flex;
  flex: 0 0 25px;
  margin-right: 15px;
  flex-direction: row-reverse;
}
.close-col .close {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-image: url("../img/cross.svg");
}

.btn-col {
  display: flex;
  flex: 0 0 161px;
  margin-right: 15px;
  flex-direction: row-reverse;
  transition: all 0.2s ease;
}
.top-bar .buy-btn {
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 5px;
  transition: 0.3s all;
  background-color: #8ed457;
  white-space: nowrap;
}
.top-bar .buy-btn:hover {
  transition: 0.3s all;
  background-color: #76d22d;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.top-bar .buy-btn .icon {
  width: 20px;
  height: 17px;
  margin-left: 10px;
  display: inline-block;
  transform: translateY(4px);
  background-repeat: no-repeat;
  background-image: url("../img/basket.svg");
}
.top-bar .devices-col .devices .icon:hover {
  transition: 0.3s all;
  background-color: #d1d1d1;
}
.scroll-top-bar {
  position: absolute;
  top: -190px;
  transition: all 3s ease;
}
.showTopBar {
  display: none !important;
  width: 40px;
  height: 24px;
  border-radius: 0 0 4px 4px;
  display: block;
  max-width: 120px;
  position: absolute;
  background: #fff;
  left: 20px;
  top: 0;
  padding: 4px 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s linear;
  cursor: pointer;
}
.showTopBar img {
  width: 32px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show-close-btn {
  display: block !important;
  transition: all 0.5s linear;
}
// end header section
.nav-bar {
  margin: 10px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 14%);
  margin: 20px auto;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.nav-bar .extra-logo {
  display: flex;
  flex: 0 0 171px;
}
.nav-bar .extra-logo a img {
  width: 100%;
  height: 55px;
}
.nav-menu {
  display: flex;
  flex: 0 0 50%;
}
.nav-bar .nav-menu .menu {
  width: 100%;
  display: flex;
  // justify-content: space-between;
  text-decoration: none;
  align-items: baseline;
}
.nav-bar .nav-menu .menu li {
  position: relative;
  list-style: none;
  margin: 14px 9px;
}

.nav-bar .nav-menu .menu li:hover {
  color: white;
  background-color: #ffae00;
  border-radius: 3px;
  box-shadow: 0px 10px 30px 0px rgba(255, 174, 0, 0.47);
  padding: 5px;
  margin: -5px;
  transition: all 0.2s ease-in-out;
}
.elements-arrow {
  display: flex;
  align-items: center;
}

.element-li img {
  width: 25px;
  height: 25px;
  color: black;
}
.nav-bar .nav-menu .menu li:hover a {
  color: white;
}

.nav-bar .nav-menu .menu li a {
  text-decoration: none;
  color: black;
}

.left-part-menu {
  display: flex;
  flex: 0 0 21%;
  margin-right: auto;
  flex-wrap: nowrap;
}
.social-icons {
  display: flex;
  align-items: center;
  margin: -10px 0;
}
.left-part-menu .social-icons .instagram-icon-nav {
  cursor: pointer;
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  color: #ffffff;
  padding: 10px;
  margin-left: 5px;
  border-style: none;
  border-width: 2px;
  border-radius: 4px;
  box-shadow: 0px 5px 12px 0px rgba(175, 175, 175, 0.34);
}
.left-part-menu .social-icons .youtube-icon-nav {
  cursor: pointer;
  color: white;
  background-color: #cf2e2e;
  border-width: 2px;
  padding: 10px;
  border-radius: 4px;
  margin-left: 5px;
}
.buy-template {
  flex: 0 0 70%;
}
.left-part-menu .buy-template a {
  color: #ffffff;
  font-weight: 600;
  background-color: #8bc34a;
  padding: 14px 24px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 6px 17px 0px rgba(139, 195, 74, 0.22);
  transition: all 0, 2s ease-in-out;
}
.left-part-menu .buy-template a:hover {
  background-color: #61b106;
  border-style: none;
  border-width: 1px;
  border-color: #ffbb00;
  box-shadow: 0px 6px 15px 0px rgba(89, 162, 5, 0.3);
}
.mega-menu {
  display: none !important;
  background-color: #282828;
  color: white;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  padding: 13px 0 13px 0;
  width: 100%;
  transition: all 3s ease-in-out;
}
.mega-menu div {
  // width: 300px;
  border-left: 1px solid #414141;
}
.mega-menu .general-elements {
  padding-right: 20px;
}
.mega-menu .general-elements p {
  color: #ababab;
}
.d-block-mega-menu {
  display: block !important;
  column-count: 5;
  transition: all 3s ease-in-out;
}
.d-block {
  display: block !important;
  transition: all 3s ease-in-out;
}
.youtube-icon-nav::after {
  opacity: 0;
  flex-direction: column;
  position: absolute;
  top: 90%;
  left: 14%;
  font-size: 14px;
  flex-wrap: wrap;
  content: "youtube";
  background-color: #3f51b6;
  padding: 5px 14px;
  border-radius: 5px;
  color: white;
  transition: all 0.2s ease;
}
.youtube-icon-nav:hover::after {
  opacity: 1;
}
.youtube-icon-nav i {
  scale: 1.25;
  transition: all 0.2s ease-in-out;
}
.youtube-icon-nav:hover i {
  transform: scale(0.7);
}
.instagram-icon-nav::after {
  opacity: 0;
  flex-direction: column;
  position: absolute;
  top: 90%;
  left: 17%;
  font-size: 14px;
  flex-wrap: wrap;
  content: "instagram";
  background-color: #3f51b6;
  padding: 5px 14px;
  border-radius: 5px;
  color: white;
  transition: all 0.2s ease;
}
.instagram-icon-nav:hover::after {
  opacity: 1;
}
.instagram-icon-nav i {
  scale: 1.25;
  transition: all 0.2s ease-in-out;
}
.instagram-icon-nav:hover i {
  transform: scale(0.7);
}
.bars-menu-icon {
  display: none !important;
  width: 45px;
  height: 45px;
  border: 1px solid #ffae00;
  background-color: #ffae00;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bars-menu-icon i {
  color: white;
  font-size: 18px;
  transform: translate(-28%, 15%);
}

.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;
}
// .sidebar-menu {
//   display: inline;
// }
@media screen and (max-width: 765px) {
  .top-bar .title-col {
    display: none !important;
  }
  .devices-col {
    display: none !important;
  }
}
@media screen and (max-width: 1050px) {
  .top-bar .title-col {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 921px) {
  .top-bar .devices-col {
    display: none !important;
  }
  .top-bar .title-col {
    flex: 0 0 59%;
  }
}
@media screen and (max-width: 765px) {
  .top-bar .title-col {
    display: none !important;
  }
}
@media screen and (max-width: 576px) {
  .btn-col span {
    display: none;
  }
  .btn-col .icon {
    margin: 0 !important;
  }
  .btn-col .buy-btn {
    padding: 8px 10px;
  }
}

@media screen and (max-width: 809px) {
  .nav-bar {
    justify-content: space-between;
  }
}

@media screen and (max-width: 909px) {
  .michele span {
    display: none;
  }
  .michele::after {
    content: "...";
  }
}
@media screen and (max-width: 873px) {
  .menu li:nth-child(4) {
    display: none;
  }
  .michele::after {
    align-items: right;
    position: relative;
  }
}
.important {
  opacity: 1 !important;
}
.sidebar-menu {
  position: absolute;
  background: #282828;
  top: -17px;
  right: -52px;
  width: 458px;
  height: 100vh;
  // display: none;
  // visibility: hidden;
  opacity: 0;
  transition: all 10s ease;
}

.sidebar-menu ul {
  padding: 0;
}
.sidebar-menu li {
  list-style: none;
  border-bottom: 1px solid rgba(167, 167, 167, 0.2);
  padding: 10px 20px;
}
.sidebar-menu li a {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
}
.icon-elements {
  border-right: 1px solid rgba(167, 167, 167, 0.2);
  width: 4vw;
  height: 4vw;
}
.sidebar-menu ul div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(167, 167, 167, 0.2);
}

@media screen and (max-width: 837px) {
  .menu li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 801px) {
  .menu li:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 765px) {
  .menu li:nth-child(1) {
    display: none;
  }
  .michele::after {
    display: none;
  }
  .nav-bar {
    flex-direction: row-reverse !important;
  }
  .left-part-menu {
    display: none;
  }
  .bars-menu-icon {
    display: block !important;
  }
}
